.contact-container {
  border: 2px solid black;
  margin-right: 5rem;
  margin-left:  5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contact-page p {
  color: #000000;
  font-size: 5rem;
}

.contact-page a {
  color: rgb(0, 0, 0); /* Adjusted to a shade of green */
  font-size: 5rem;
}

.contact-page h3 {
  color: black;
  font-size: 5rem;
  text-decoration: underline;
}

/* Mobile responsiveness for contact page */
@media screen and (max-width: 600px) {
  /* Adjustments for smaller screens */

  /* Adjust font size for the entire page */
  body {
    font-size: 14px;
  }

  /* Adjust font size for the contact container */
  .contact-container {
    font-size: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  /* Adjust font size for paragraphs, links, and h3 elements within the contact page */
  .contact-page p,
  .contact-page a,
  .contact-page h3 {
    font-size: 2.5rem;
  }
}
