.contact-container {
  border: 5px solid black;
  margin: 5px;
  padding: 5px;
  background-color: #b894f1; /* Adjusted to a shade of purple (indigo) */
  text-align: center;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact-page p {
  color: #000000;
}

.contact-page a {
  color: #f1f1f1; /* Adjusted to a shade of green */
}

.contact-page h3 {
  color: #0cc9d6;
  text-shadow: 8px 4px 15px #bdcaca;
}
