@media only screen and (min-width: 768px) {
.contact-container {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 1px;
  margin: 15px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contact-section {
  border: 3px solid rgb(0, 0, 0);
  margin: 15px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contact-page p,
.contact-page a {
  color: rgb(0, 0, 0); 
  font-size: 1rem;
}

.contact-page h3 {
  color: black;
  font-size: 3rem;
  text-decoration: underline;
}
}

/* Responsive Styles */
@media (max-width: 767px) {
  /* Add responsive styles as needed */
  .contact-container {
    border: 1.5mm solid rgba(3, 3, 5, 0.507);
    border-radius: 5mm;
    margin: auto;
    padding: auto;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .contact-section {
    border: 1.5mm solid rgba(3, 3, 5, 0.507);
    border-radius: 5mm;
    margin-left: 1.5mm;
    margin-right: 1.5mm;
    padding: 25mm;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .contact-page p,
  .contact-page a {
    color: rgb(0, 0, 0); 
    font-size: 2.5rem;
  }
  
  .contact-page h3 {
    color: black;
    font-size: 2.5rem;
    text-decoration: underline;
  }
}
