/* education-styles.css */
@media screen and (max-width: 600px) {
}
 
.education-page p {
  color: black;
}

.education-page h1 {
  color: blue;
  text-shadow:  8px 4px  purple;
}

.education-page h2 {
  color: blue;
  text-shadow:  8px 4px  purple;
}

.education-page ul {
  text-align: center;
}

.education-page li {
  text-align: center;
}

.education-container { 
  padding: 20px;
  margin: 20px;
  text-align: center;
  border: 5px solid black;
}

.school-section{
  justify-content:center ;
  flex: 5;
  padding: 5px;
  margin: 5px;
  border: 5px dotted pink;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  border: 5px solid black; 
}
.frontend-section,
.backend-section{
  justify-content: space-between ;
  flex: 5;
  padding: 5px;
  margin: 5px;
  border: 2px dotted pink;
}

.skills2-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  border: 5px solid black; 
}

.tech-section,
.other-section {
  justify-content: space-between ;
  flex: 5;
  padding: 5px;
  margin: 5px;
  border: dotted pink;
}