.education-page p, 
.education-page h2, 
.education-page a {
  color: black;
  font-weight: bold;
}

.education-page h1 {
  color: #000000; /* Turquoise color */
  text-shadow: 8px 4px 15px #006eff;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-size: 4em;
}

.education-page li,
.education-page ul {
  text-align: center;
}

.education-container .education-page{ 
  padding: 10px;
  margin: 20px;
  text-align: center;
  font-size: 1.2rem;
}

.school-section{
  justify-content:center ;
  flex: 5;
  padding: 5px;
  margin: 5px;
  border: 5px solid #000000;
  background: rgba(255, 255, 255, 0.5);
}
.picture-container {
  flex: 2; /* Allow the container to grow and shrink */
  padding: 1em;
  margin: 1em;
  justify-content: space-between;
  border: 2px #000000;
}

.picture-section img {
  width: 50rem;
  height: 40rem;
  border-radius: 8px;
}

.frontend-section,
.backend-section{
  justify-content: space-between ;
  flex: 5;
  margin-right: 5rem;
  margin-left:  5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 5px solid #000000;
  background: rgba(255, 255, 255, 0.5)
}

.github-container,
.skills-container,
.skills2-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
}

.tech-section,
.other-section {
  justify-content: space-between ;
  flex: 5;
  margin-right: 5rem;
  margin-left:  5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 5px solid #000000;
  background: rgba(255, 255, 255, 0.5);
}

.repo2-section,
.repo1-section{
  justify-content: space-between ;
  flex: 2;
  padding: 5px;
  margin: 5px;
  border: 5px solid #000000;
  background: rgba(255, 255, 255, 0.5);
}
 