.experience-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  border: 5px solid black; 
  text-align: center;
}
.nurse-container{
  justify-content:center ;
  flex: 1;
  padding: 5px;
  margin: 5px;
  border: 5px dotted purple;
  text-align: center;
  background-color: pink;
}
.youth-container {
  justify-content:center ;
  flex: 1;
  padding: 5px;
  margin: 5px;
  border: 5px dotted purple;
  text-align: center;
  background-color: pink;
}

.retail-container{
  justify-content:center ;
  flex: 1;
  padding: 5px;
  margin: 5px;
  border: 5px dotted purple;
  text-align: center;
  background-color: pink;
}


.food-container{
  justify-content:center ;
  flex: 1;
  padding: 5px;
  margin: 5px;
  border: 5px dotted purple;
  text-align: center;
  background-color: pink;
}

.experience-page h1{
  color: black;
  text-align: center;
}

.experience-page h2{
  color: #000000;
  
}

.experience-page p{
  color: #000000
}

.experience-page strong{
  color: purple;
}