.experience-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  border: 5px solid black; 
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  }

.nurse-container{
  justify-content:center ;
  flex: 2;
  padding: 5px;
  margin: 5px;
  border: 5px dotted rgb(0, 0, 0);
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
}
.youth-container {
  justify-content:center ;
  flex: 2;
  padding: 5px;
  margin: 5px;
  border: 5px dotted rgb(0, 0, 0);
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
}

.retail-container{
  justify-content:center ;
  flex: 2;
  padding: 5px;
  margin: 5px;
  border: 5px dotted rgb(0, 0, 0);
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
}


.food-container{
  justify-content:center ;
  flex: 2;
  padding: 5px;
  margin: 5px;
  border: 5px dotted rgb(0, 0, 0);
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
}

.experience-page h1{
  color: black;
  text-align: center;
}

.experience-page h2{
  color: #000000;
  
}

.experience-page p{
  color: #000000
}


