.experience-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  border: 5px solid black; 
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  }

.nurse-container{
  justify-content:center ;
  flex: 2;
  padding: 5px;
  margin: 5px;
  border: 5px dotted rgb(0, 0, 0);
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
}
.youth-container {
  justify-content:center ;
  flex: 2;
  padding: 5px;
  margin: 5px;
  border: 5px dotted rgb(0, 0, 0);
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
}

.retail-container{
  justify-content:center ;
  flex: 2;
  padding: 5px;
  margin: 5px;
  border: 5px dotted rgb(0, 0, 0);
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
}


.food-container{
  justify-content:center ;
  flex: 2;
  padding: 5px;
  margin: 5px;
  border: 5px dotted rgb(0, 0, 0);
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
}

.experience-page h1{
  color: black;
  text-align: center;
}

.experience-page h2{
  color: #000000;
  
}

.experience-page p{
  color: #000000
}

.experience-page strong{
  color: purple;
}

/* Mobile responsiveness for experience page */
@media screen and (max-width: 600px) {
  /* Adjustments for smaller screens */

  /* Adjust font size for the entire page */
  body {
    font-size: 14px;
  }

  /* Adjust font size for the experience container */
  .experience-container {
    font-size: 2rem;
  }

  /* Adjust font size for h1 and h2 within the experience page */
  .experience-page h1,
  .experience-page h2 {
    font-size: 2em;
  }

  /* Adjust font size for p and strong elements within the experience page */
  .experience-page p,
  .experience-page strong {
    font-size: 0.8em;
  }

  /* Adjust padding, margin, and flex properties for containers */
  .nurse-container,
  .youth-container,
  .retail-container,
  .food-container {
    padding: 10px;
    margin: 10px;
    flex: 1; /* Adjust the flex property for better responsiveness */
  }
}
