/* Reset some default styles to ensure consistency across browsers */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Apply a global box-sizing rule for better layout control */
* {
  box-sizing: border-box;
}

/* Set up basic styles for the entire page */
body {
  font-family: 'Arial', sans-serif;
  font-size: 16px; /* Adjusted font size for better readability */
  line-height: 1.6;
}

.home-container {
  display: flex;
  margin: 20px;
  padding: 20px;
  border: 10px solid #01ffc8; /* Adjusted border color with transparency */
}

.content-container {
  justify-content: center;
  flex: 2;
  padding: 10px;
  margin: 10px;
  background-color: #adf5e5;
  text-align: center;
}

.home-section {
  font-size: 2em; /* Adjusted font size */
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  font-weight: bold;
  border: 5px dotted rgb(79, 3, 255);
  white-space: nowrap;
}

/* Style the <strong> tag inside the .home-section */
.home-page strong {
  color: #ae00ff; 
}

.home-page p {
  font-size: 1em; /* Adjusted font size */
  color: #000000;
}

.home-page h2 {
  color: #00b4a5;
  text-shadow: 8px 4px rgb(171, 87, 204); /* Adjusted text shadow */
  font-size: 1.5em; /* Adjusted font size */
}
