/* Reset some default styles to ensure consistency across browsers */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Apply a global box-sizing rule for better layout control */
  * {
    box-sizing: border-box;
  }
  
  /* Set up basic styles for the entire page */
  body {
    font-family: 'Arial', sans-serif;
    font-size: 33px;
    line-height: 1.6;
  }
  
  /* Style the header section */
  header {
    background-color: #333;
    color: #f58181;
    padding: 10px;
    text-align: center;
  }
  
  /* Style the navigation section */
  nav {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    padding: 10px;
    margin: 1px;
  }
  
  nav ul {
    list-style: none;
    margin: 20px;
    padding: 1px;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin-right: 15px;
    border: 15px solid black;
    border-style: dotted;
  }
  
  nav a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    background-color: #a876eb;
    margin: 13px;
    border-style: dotted;
    font-weight: bold;
    font-size: larger;
  }
  
  /* Style the main content section */
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
  }
  
  /* Style the footer section */
  footer {
    background-color: #333;
    color: #4e109e;
    padding: 10px;
    text-align: center;
  }
  
  .home-container {
    display: flex;
  }
  
  .picture-container {
    flex: 1;
    padding: 20px;
    margin: 5px;
    background-color: #4e109e;
  }
  
  .picture-container img {
    width: 100%;
    border-radius: 8px; /* Optional: Add rounded corners to the image */
  }
  
  .content-container {
    flex: 2;
    padding: 20px;
  }
  
  .home-section {
    font-size: 34px; /* Adjust the font size as needed */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    font-weight: bold;
  }

  /* Style the <strong> tag inside the .home-section */
  .home-section strong {
    color: #670cbb; 
  }
  .contact-section {
    text-align: right;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  }

  h3 {
    text-decoration: underline;
  }
  