/* Navigation.css */

.navigation-container {
  padding: 1rem;
}

.navigation-container ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.navigation-container li {
  margin: 0;
}

.navigation-container a {
  text-decoration: none;
  color: white; 
  padding: 0.5rem 1rem;
  margin: 0 0.1rem;
  border: 2px solid black; /* Border color for the button */
  border-radius: 5px;
  background-color: grey; /* Background color for the button */
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-block;
}

.navigation-container a:hover {
  background-color: #2980b9;
  color: white;
}
