/* Reset some default styles for better consistency */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif; /* Choose a common font for better cross-browser consistency */
  background-color: #525151;
}

/* Center the entire application */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Header styling */
.header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}


/* Logo animation */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }  
}

/* Container styling */
.app-container {
  text-align: center;
}

/* Heading 1 styling */
.app-container h1 {
  color: #0b4053; /* Turquoise color */
  text-shadow: 8px 4px 15px #4bd7df;
  font-family: 'Libre Baskerville', serif;
  font-size: 5em;
  margin: 5px 0 0; 
}

/* Heading 3 styling */
.app-container h3 {
  color: #0b4053; /* Turquoise color */
  text-shadow: 8px 4px 15px #4bd7df;
  font-family: 'EB Garamond', serif;
  font-size: 2em;
  margin: 5px 0 0; 
}
