/* Reset some default styles for better consistency */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* Set common font and background image for the body */
body {
  font-family: Arial, sans-serif; 
  background-image: url('./images/sunset-beach-background.jpg'); 
  background-size: cover; 
  background-position: center; 
}

/* Center the entire application */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Header styling */
.header {
  /* Flex direction, alignment, and font properties */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-align: center;
}

/* Logo animation */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }  
}

/* Container styling */
.app-container {
  text-align: center;
}

/* Heading 1 styling */
.app-container h1 {
  /* Text color, text shadow, font family, font size, and margin properties */
  color: #000000; 
  text-shadow: 8px 4px 15px #006eff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20rem;
  margin: 5px 0 0; 
}

/* Mobile responsiveness */
@media screen and (max-width: 600px) {
  /* Adjustments for smaller screens */

  /* Adjust the header font size */
  .header {
    font-size: 1.5rem;
  }

  /* Adjust the logo height for smaller screens */
  .App-logo {
    height: 20vmin;
  }

  /* Adjust the heading 1 font size for smaller screens */
  .app-container h1 {
    font-size: 10rem;
  }
}

