/* Reset some default styles for better consistency */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* Set common font and background image for the body */
body {
  font-family: Arial, sans-serif; 
  background-image: url('./images/sunset-beach-background.jpg'); 
  background-size: cover; 
  background-position: center;
}

/* Center the entire application */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Header styling */
.header {
  /* Flex direction, alignment, and font properties */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-align: center;
}

/* Logo animation */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }  
}


/* Container styling */
.app-container {
  text-align: center;
}

/* Heading 1 styling */
.app-container h1 {
  /* Text color, text shadow, font family, font size, and margin properties */
  color: #000000; 
  text-shadow: 8px 4px 15px #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 5rem;
  margin: 15px; 
  padding: 5px;
}

@media (max-width: 767px) {
  body {
    font-family: Arial, sans-serif; 
    background-image: url('./images/sunset-beach-background.jpg'); 
    background-size: cover; 
    background-position: center;
  }
  
  /* Center the entire application */
  .App {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
  }
  
  /* Header styling */
  .header {
    /* Flex direction, alignment, and font properties */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-align: center;
  }
  
  /* Logo animation */
  .App-logo {
    height: 20vmin;
    pointer-events: none;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }  
  }
  
  
  /* Container styling */
  .app-container {
    text-align: center;
  }
  
  /* Heading 1 styling */
  .app-container h1 {
    /* Text color, text shadow, font family, font size, and margin properties */
    color: #000000; 
    text-shadow: 4px 2px 7.5px #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
  }
}

